<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Occurred</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            text-align: center;
            padding: 40px 0;
            background-color: #f5f5f5;
        }
        h1 {
            color: #666;
            font-size: 50px;
            margin-bottom: 40px;
        }
        p {
            color: #333;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Oops!</h1>
    <p>An error has occurred. We're working to fix the problem!</p>
    <a href="/" class="btn btn-primary">Go Home</a>
</div>
</body>
</html>